.DS_Store
.env
*.log
*.sqlite3
*.sqlite

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

# =========================
# Keep storage folders, ignore their contents
# =========================

storage/logs/**
!storage/logs/.gitkeep

storage/profile_photos/**
!storage/profile_photos/.gitkeep

storage/published/**
!storage/published/.gitkeep

storage/temp_uploads/**
!storage/temp_uploads/.gitkeep

storage/workspaces/**
!storage/workspaces/.gitkeep

storage/tmp/imports/**
!storage/tmp/imports/.gitkeep

# Keep placeholder / protection files if needed
!storage/**/.gitkeep
!storage/**/.htaccess
!storage/**/index.html


# =========================
# Published user sites
# =========================
sites/*
!sites/.htaccess
!sites/404.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/.vscode/
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/